.main-content-area {
    &__continue-shopping {
        margin: 20px 15px;
        text-align: center;
        .link-to-shop {
            color: #fff;
            padding: 10px 20px;
            font-size: 2rem;
        }

    }
}