li > img {
    width: 200px;
    /* border: 1px solid grey; */
}
/* li > img {
    border: 1px solid grey;
} */

.slider {
    margin-top: 20px;
}

.card-title > .title{
    background-color: #ff2832;
    padding: 3px 15px;
    color: #fff;
}
.card-title > .time{
    background-color: #ddd;
    padding: 10px 15px;
    color: #000;
    max-width: 350px;
}

.product-box {
    position: relative;
}
img :hover {
    border: none;
}
.left {
    position: absolute;
    top: 120px;
    left: -25px;
    color: coral;
    cursor: pointer;
    font-weight: bold;
}

.right {
    position: absolute;
    top: 120px;
    right: 0;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.product__card :hover {
    border: 1px solid lightgray;
}

.pt-3 {
    padding: 15px 5px;
}